body{
  background-color: #f6f6f6;
}
*{
  outline: none;
}
header{
  margin: 20px 0;
}
.__muted__{
  opacity: 0.5;
}
.__inputHolder__{
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.11);
}
  .__inputHolder__ input{
    border: none;
    outline: none;
    width: 80%;
  }

  .__inputHolder__ #goBtn{
    float: right;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #448aff;
    border-radius: 3px;
  }
  .__inputHolder__ #clearBtn{
    float: right;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #b9b9b9;
    border-radius: 3px;
  }

    .__inputHolder__ button:active{
      background-color: #ededed;
    }

.__mediaHolder__{
  text-align: center;
  margin-top: 10px;
}
  .__mediaHolder__ img{
    width: 200px;
    height: auto;
  }
  .__mediaHolder__ button{
    background: #00c853;
    border: none;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-family: 'Roboto',arial,sans-serif;
    font-size: 16px;
    height: 42px;
    letter-spacing: .5px;
    line-height: 42px;
    padding: 0 24px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .__mediaHolder__ button.disabled{
    background-color: #cccccc;
  }
footer{
  background-color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: solid 1px #ededed;
  font-size: 12px;
}
